
{% extends 'basic.html'%}
{% load static %}
{%block header%}
<title>Documentation - hiigeek</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Documentation hiigeek">
<meta name="author" content="Deepak">

<link rel="canonical" href="https://hiigeek.com/documentations/" />
<!--  Social tags -->
<meta name="keywords" content="About hiigeek, hiigeek document,hiigeek documentations, document,hiigeek hii geek,hii geek document">
<meta name="description" content="hiigeek specification is a document that articulates the project's goals, objectives and tactics. It should outline constraints.">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Documentation hiigeek">
<meta itemprop="description" content="hiigeek specification is a document that articulates the project's goals, objectives and tactics. It should outline constraints.">
<meta itemprop="image" content="https://">

<!-- Twitter Card data -->
<meta name="twitter:card" content="Search">
<meta name="twitter:site" content="@hiigeek">
<meta name="twitter:title" content="Documentation hiigeek">
<meta name="twitter:description" content="hiigeek specification is a document that articulates the project's goals, objectives and tactics. It should outline constraints..">
<meta name="twitter:creator" content="@deepakaryak9">
<meta name="twitter:image" content="https://">

<!-- Open Graph data -->
<meta property="fb:app_id" content="214738555737136">
<meta property="og:title" content="Documentation hiigeek" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://hiigeek.com/documentations/" />
<meta property="og:image" content="https://"/>
<meta property="og:description" content="hiigeek specification is a document that articulates the project's goals, objectives and tactics. It should outline constraints." />
<meta property="og:site_name" content="hii geek" />

{%endblock header%}


{% block content%}
 <section class="section section bg-soft pb-5 overflow-hidden z-2">
            <div class="container z-2">
                <div class="row justify-content-center text-center pt-6">
                    <div class="col-lg-8 col-xl-8">
                        <h1 class="display-2 mb-3">hii Geek</h1>
                        <p class="lead px-md-6 mb-5">HiiGeek Create <strong>User Relation Technologyes</strong> We will help you in establish your brand with all specifications.</p>
                        <a href="https://hiigeek.com" class="d-flex align-items-center justify-content-center flex-column">
                            <img src="{%static './assets/img/logo.png'%}" height="25" class="mb-3" alt="Themesberg Logo">
                            <span class="text-muted font-small">A Deepak Arya Creations</span>
                        </a>
                        
                    </div>
                    <div style="padding-top: 50px;" class="row">
            <div class="col-md-10 col-lg-12">
                <!-- Tab Nav -->
                <div class="nav-wrapper position-relative mb-4">
                    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="fas fa-tint"></i>Design</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="fas fa-bug"></i>Code</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="fas fa-user-astronaut"></i>UX / UI</a>
                        </li>
                    </ul>
                </div>
                <!-- End of Tab Nav -->
                <!-- Tab Content -->
                <div class="card shadow-inset bg-primary border-light p-4 rounded">
                    <div class="card-body p-0">
                        <div class="tab-content" id="tabcontent2">
                            <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                <p>Design is totally depend on persons choice and i always like minimilistic creation.So, web design is about deciding on a lot of elements such as the layout, graphics, colors, fonts, structure, content, text styles, interactive features, imagery.</p>
                                <p>Day handsome addition horrible sensible goodness two contempt. Evening for married his account removal. Estimable me disposing of be moonlight cordially curiosity.</p>
                            </div>
                            <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                <p>This site is made up upon Django framework where we used several third party APIs as well where we choose django becouse of some resion behind it.</p>
                                <p>the first question in our mind is about timing is that this will worth to give much time so that's why we decided to give functionality of django frameworks.</p>
                            </div>
                            <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                                <p>This site is totally build by Deepak Kumar Arya so i have never build the UI for this site, the idea was only to make it simple and creative with good and simple interface.</p>
                                <p>We used decent selection for colors and approch are too clear to make this site beautifully creative thing on internet.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Tab Content -->
            </div>
        </div>
                    <div>
                        
                    </div>
                </div>
            </div>
        </section>
{% endblock content%}